:root {
  --color-1-: #22d3ee;
  --color-2-: #0b1120;
  --color-3-: #6922ee;
  --color-4: #090905;
}

/* NAVBAR */

body {
  color: white;
  background-color: black;
  background-image: url(../IMG/BG-10.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  /* background-position: 100px 0; */
}

.container .navbar {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.5px solid #162038;
  /* position: fixed; */
}

.container .navbar .textandlogo {
  display: flex;
  align-items: center;
}

.container .navbar .textandlogo .logo {
  background-image: url(../IMG/hitam-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.container .navbar .textandlogo h2 {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.container .navbar .textandlogo h2 span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #22d3ee, #6922ee);
}

.container .navbar .link ul {
  display: flex;
  list-style: none;
  margin-right: 15px;
  font-family: "Poppins";
  font-weight: 400;
}

.container .navbar .link ul li a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  transition: 0.3s;
}

.container .navbar .link ul li a:hover {
  color: #6922ee;
}

.container .navbar .link ul li {
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.container .navbar .link ul li:last-of-type {
  border: none;
}

/* NAVBAR DONE */

/* ABOUT  */

/* .container .about {
  padding: 10px;
  width: 70rem;
  position: relative;
  border-radius: 10px;
  margin: 50px auto;
}

.container .about .vertikal {
  position: absolute;
  height: 100%;
  z-index: 9999;
  width: 0.2rem;
  background-color: #162038;
  transform-origin: top;
  left: 100px;
  top: 10px;
  scale: 1 0;
  animation: line1 linear;
  animation-timeline: scroll();
}

@keyframes line1 {
  to {
    scale: 1 1;
  }
}

.container .about .sec-about {
  display: flex;
  width: 45rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid white;
  padding: 20px;
  margin: 50px auto;
  background-image: url(../IMG/BG-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}

.container .about .sec-about .keterangan h2 {
  font-family: Poppins;
}

.container .about .sec-about .keterangan h2 span {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #22d3ee, #6922ee);
}

.container .about .sec-about .keterangan p {
  order: 1;
  font-size: 12px;
  width: 300px;
  color: #cbd5e1;
  font-family: poppins;
  text-shadow: 10px 10px 90px white;
}

.container .about .sec-about .img {
  background-image: url(../IMG/FOTO.jpg);
  order: 2;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .about .skils h5 {
  color: #cbd5e1;
  font-family: roboto;
  font-size: 16px;
}

.container .about .skils {
  padding: 10px;
  font-family: Poppins;
  font-size: 12px;
  color: #cbd5e1;
  margin-left: 130px;
  display: flex;
}

.container .about .skils .language .html,
.css,
.python {
  margin-top: 20px;
}

.container .about .skils .language .html h2,
.css h2,
.python h2 {
  font-size: 12px;
}

.container .about .skils .language .html p,
.css p,
.python p {
  width: 300px;
}

.container .about .skils .language .tools {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}

.container .about .skils .language .tools .listtols {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.container .about .skils .language .tools .listtols h5 {
  padding: 10px;
  border: 1px solid #1d2b4b;
  border-radius: 15px;
  font-size: 12px;
}

.container .about .skils .stack .horizontal,
.container .about .skils .language .horizontal {
  width: 200px;
  height: 3px;
  border-radius: 24px;
  background-color: #cbd5e1;
  margin-bottom: 10px;
}

.container .about .stack .stack {
  margin-left: 130px;
}

.container .about .stack .stack h2 {
  font-family: Poppins;
  font-weight: 600;
  color: #cbd5e1;
  font-size: 18px;
}

.container .about .stack .stack .img {
  margin-left: 90px;
  margin-top: -80px;
  border-radius: 24px;
  background-image: url(../IMG/WORKSPACE.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 500px;
  transform: rotate(-90deg);
} */

/* =================== IMG DAN CTA ====================== */

.container .about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.container .about .header {
  display: grid;
  grid-template-columns: repeat(2, 23rem);
}

.container .about .header .imageANDcta {
  padding: 10px;
  /* place-items: center; */
}

.container .about .header .imageANDcta .img {
  padding: 10px;
  background-image: url(../IMG/FOTO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  filter: brightness(105%);
  border-radius: 20px;
}

.container .about .header .imageANDcta .cta .keterangan {
  font-family: "Poppins";
}

.container .about .header .imageANDcta .cta .keterangan h2 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 2px;
}

.container .about .header .imageANDcta .cta .keterangan p {
  letter-spacing: -0.5px;
  font-size: 12px;
  width: 255px;
  /* text-align: justify; */
  margin-bottom: 20px;
}

.container .about .header .imageANDcta .cta a .ctabtn {
  width: 250px;
  padding: 15px;
  border-radius: 50px;
  font-family: "Poppins";
  font-size: 11px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.94);
}

.container .about .header .imageANDcta .cta a .ctabtn:hover {
  box-shadow:
    0px 0px 2px white,
    -0px -0px 2px white;
}

/* ============================ BIO ============================== */

.container .about .header .bio {
  text-decoration: none;
}

.container .about .header .bio h1 {
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: -1px;
}

.container .about .header .bio .list ul {
  list-style: none;
  font-family: "Poppins";
}

.container .about .header .bio .list ul li {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin: 2px 0 10px 0;
}

.container .about .header .bio .list ul li h3 {
  font-weight: 400;
  font-size: 16px;
}

.container .about .header .bio .list ul li:last-of-type {
  margin-left: 10px;
}

.container .about .header .bio .tag ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: "Poppins";
  font-size: 8px;
}

.container .about .header .bio .tag ul li {
  padding: 7px;
  border: 1px solid white;
  border-radius: 25px;
  width: 6rem;
  text-align: center;
  margin-bottom: 15px;
}

.container .about .header .bio .sosmed h6 {
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.584);
  margin-top: 20px;
}

.container .about .header .bio .sosmed .f-sosmed ul {
  list-style: none;
  font-family: "Poppins";
}

.container .about .header .bio .sosmed .f-sosmed ul li {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  margin-left: 10px;
}

.container .about .header .bio .sosmed .f-sosmed ul li:first-of-type {
  margin-left: 0;
}

.container .about .about-me {
  width: 46rem;
  padding-top: 50px;
}

.container .about .about-me h3 {
  font-family: "Poppins";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.584);
}

.container .about .about-me p {
  font-family: "Poppins";
  margin-top: 10px;
  font-size: calc(2 * h3);
}

.container .about .sertif {
  width: 46rem;
  padding-top: 50px;
}

.container .about .sertif h3 {
  font-family: "Poppins";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.584);
}

.container .about .sertif .link-sertif {
  margin-left: 15px;
}

.container .about .sertif .link-sertif ul {
  list-style: none;
}

.container .about .sertif .link-sertif ul li {
  margin-top: 12px;
}

.container .about .sertif .link-sertif ul li a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  width: fit-content;
  transition: 0.3s;
}

.container .about .sertif .link-sertif ul li a:hover {
  color: #7226ffd3;
}

.container .about .vidio h3 {
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.584);
}

.container .about .vidio {
  width: 46rem;
}

.container .about .vidio .l-vidio {
  display: flex;
  width: 46rem;
  flex-wrap: wrap;
}

.container .about .vidio .l-vidio .card1 {
  width: 50px;
  height: 100px;
  background-color: rebeccapurple;
}

/* ABOUT DONE */

/* FOOTER */

.container .footer {
  margin-top: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .footer .logo {
  background-image: url(../IMG/hitam-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
}

.container .footer > p {
  font-size: 11px;
  font-family: "Poppins";
}

/* FOOTER DONE */

/* RESPONSIVE */

@media screen and (max-width: 480px) {
  /* .container .navbar {
    justify-content: space-between;
  }

  .container .navbar .textandlogo .logo {
    display: none;
  }

  .container .navbar .textandlogo h2 {
    font-size: 20px;
    margin-left: 10px;
  }

  .container .navbar .link ul li a {
    font-size: 11px;
  }

  .container .navbar .link ul li {
    margin-left: 8px;
  }

  .container .about {
    width: 22rem;
    margin-left: 20px;
  }

  .container .about .skils {
    width: 74%;
    margin-top: 20px;
  }

  .container .about .vertikal {
    display: none;
  }

  .container .about .sec-about .img {
    margin: 0;
    justify-content: left;
  }

  .container .about .sec-about .keterangan p {
    text-align: left;
    margin: 12px 0;
  }

  .container .about .skils {
    margin-left: 0;
    display: block;
  }

  .container .about .sec-about {
    flex-direction: column;
    background-image: none;
    border: none;
    align-items: flex-start;
    width: 10rem;
    margin-left: 0;
    margin-top: 0;
  }

  .container .about .sec-about p {
    width: 200px;
    text-align: center;
    text-shadow: 0px 1px 70px #6922ee;
  }

  .container .about .stack .stack {
    margin-left: 0;
  }

  .container .about .stack .stack .img {
    width: 200px;
    height: 350px;
    margin-left: 55px;
    margin-top: -50px;
  }

  .container .about .skils .stack .horizontal {
    margin-top: 10px;
  }
} */

  .container .about {
    display: none;
  }

  .container::before {
    content: "MAAF SAAT INI MODE HANDPHONE BELUM BISA DI AKSES KARENA DALAM MASA PEMBUATAN :c ....";
    color: white;
  }
}
/* RESPONSIVE DONE */
