* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #0b1120;
  --color-2: #22d3ee;
}

body {
  color: white;
  font-family: "Poppins";
  background-image: url(../IMG/BG-9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  /* background-color: var(--color-1); */
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

/* .container .content {
  background-image: url(../IMG/BG-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px;
  width: 90rem;
  border-radius: 50px;
  box-shadow:
    1px 1px 7px white,
    -1px -1px 7px white;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  padding: 20px;
}

.container .content:hover {
  transform: scale(0.99);
}

.container .content .wrapper-text {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
