:root {
  --color-1-: #22d3ee;
  --color-2-: #0b1120;
}

/* NAVBAR */

body {
  color: white;
  background-color: #0b1120;
}

.container .navbar {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.5px solid #162038;

  /* position: fixed; */
}

.container .navbar .textandlogo {
  display: flex;
  align-items: center;
}

.container .navbar .textandlogo .logo {
  background-image: url(../IMG/hitam-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.container .navbar .textandlogo h2 {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.container .navbar .textandlogo h2 span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #22d3ee, #6922ee);
}

.container .navbar .link ul {
  display: flex;
  list-style: none;
  margin-right: 15px;
  font-family: "Poppins";
  font-weight: 400;
}

.container .navbar .link ul li a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  transition: 0.3s;
}

.container .navbar .link ul li a:hover {
  color: #6922ee;
}

.container .navbar .link ul li {
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.container .navbar .link ul li:last-of-type {
  border: none;
}

/* NAVBAR DONE */

/* HERO  */
/* 
.container .hero {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .hero .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.container .hero .header .img {
  background-image: url(../IMG/FOTO.jpg);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .hero .header .img::after {
  content: "";
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  width: 102%;
  height: 102%;
  background-image: linear-gradient(to right, #22d3ee, #6922ee);
}

.container .hero .header h1 {
  font-family: "Ubuntu";
  font-weight: 500;
  width: 500px;
  margin-right: 30px;
  font-size: 60px;
}

.container .hero .header .sec-header h2 {
  font-family: "Ubuntu";
  font-weight: 500;
  width: 500px;
  font-size: 25px;
  padding: 10px;
}

.container .hero .header .sec-header h2 > span {
  background-image: linear-gradient(to right, #22d3ee, #6922ee);
  background-clip: text;
  color: transparent;
}
.container .hero .header .sec-header a {
  text-decoration: none;
}

.container .hero .header .sec-header a .btnheader {
  padding: 10px 50px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #6922ee;
  color: white;
  margin: 20px;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Ubuntu";
  font-weight: 400;
}

.container .hero .header .sec-header a .btnheader:hover {
  border: 2px solid #22d3ee;
}

.container .hero .navigasi h2 {
  font-family: "Ubuntu";
  text-align: center;
  margin-bottom: 20px;
}

.container .hero .navigasi {
  margin-top: 150px;
}

.container .hero .navigasi a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-family: "Poppins";
}

.container .hero .navigasi a .btn {
  font-size: 11px;
  color: white;
  border: 2px solid rgb(174, 0, 255);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.container .hero .navigasi a .btn:hover {
  border: 2px solid #6922ee;
} */

.container .hero {
  background-image: url(../IMG/BG-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
  /* border: 0.5px solid white; */
  border-radius: 50px;
  box-shadow:
    1px 1px 7px white,
    -1px -1px 7px white;
  /* cursor: pointer; */
  transition: 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
}

.container .hero .contoh {
  background-color: red;

  /* width: 100%; */
}

.container .hero:hover {
  transform: scale(0.99);
}

.container .hero .wrapper {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container .hero .wrapper > i {
  margin: -30px 0 0 30px;
  color: #cc22ee;
  text-shadow:
    1px 1px 35px white,
    -1px -1px 35px white;
}

.container .hero .wrapper .text {
  display: flex;
  margin-left: 30px;
}

.container .hero .wrapper .text .text2 {
  text-align: left;
}

.container .hero .wrapper .text .text2 h1 {
  font-size: 65px;
  font-weight: 400;
  font-family: Poppins;
}

.container .hero .wrapper .text .text2 h1 span {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #24e2ff, #7124ff);
}

.container .hero .wrapper .text .text2 p {
  font-family: Ubuntu;
}

.container .hero .wrapper .text .text2 h1,
p {
  text-shadow: 5px 5px 250px white;
}

.container .hero .wrapper .ellipse {
  width: 600px;
  flex-wrap: wrap;
  display: flex;
  /* background-color: red; */
}

.container .hero .wrapper .ellipse .button1,
.button2,
.button3 {
  width: 250px;
  margin-top: 10px;
  border-radius: 25px;
  border: 3px solid white;
  padding: 10px;
  margin-left: 30px;
  transition: 0.5s;
}

.container .hero .wrapper .ellipse .button1:hover,
.button2:hover,
.button3:hover {
  border-color: #6922ee;
}

.container .hero .wrapper .ellipse .button1 a .ellipse2 p,
.button2 a .ellipse2 p,
.button3 a .ellipse2 p {
  font-family: Roboto;
}

.container .hero .wrapper .ellipse .button1 a,
.button2 a,
.button3 a {
  text-decoration: none;
  color: white;
}

.container .hero .wrapper .ellipse .button1 a .ellipse2,
.button2 a .ellipse2,
.button3 a .ellipse2 {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
}

/* HERO DONE */

/* FOOTER */

.container .footer {
  /* background-color: #457dff; */
  margin-top: 80px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .footer .logo {
  background-image: url(../IMG/hitam-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
}

.container .footer > p {
  font-size: 11px;
  font-family: "Poppins";
}

/* FOOTER DONE */

/* RESPONSIVE */

@media screen and (max-width: 480px) {
  .container .navbar {
    justify-content: space-between;
  }

  .container .navbar .textandlogo .logo {
    display: none;
  }

  .container .navbar .textandlogo h2 {
    font-size: 20px;
    margin-left: 10px;
  }

  .container .navbar .link ul li a {
    font-size: 11px;
  }

  .container .navbar .link ul li {
    margin-left: 8px;
  }

  .container .hero {
    margin: 0;
    border: none;
    box-shadow: none;
    background-image: url(../IMG/BG-3.png);
  }

  .container .hero .wrapper .text .text2 h1 {
    font-size: 50px;
    width: 300px;
  }

  .container .hero .wrapper .ellipse {
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    /* background-color: red; */
  }

  .container .hero .wrapper .ellipse .button1,
  .button2,
  .button3 {
    width: 190px;
    margin-top: 10px;
    border-radius: 25px;
    border: 3px solid white;
    padding: 10px;
    margin-left: 30px;
    transition: 0.5s;
    box-shadow: 0.2px 0.2px 7px white;
  }

  .container .hero .wrapper .ellipse .button1 a .ellipse2 p,
  .button2 a .ellipse2 p,
  .button3 a .ellipse2 p {
    font-family: Roboto;
    font-size: 12px;
  }
}

/* RESPONSIVE DONE */
